{{- $ThemeVersion := "3.31.0" -}}
<footer class="site-footer">
    <section class="copyright">
        &copy; 
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }} - 
        {{ end }}
        {{ now.Format "2006" }} {{ default .Site.Title .Site.Copyright }}
    </section>

    <section class="powerby">
        <p>
            <a href="/legal/#aviso-legal">Aviso Legal</a>  ·  
            <a href="/legal/#política-de-privacidad">Privacidad</a>  ·  
            <a href="/legal/#política-de-cookies">Cookies</a>
        </p>
        <p>
            Developed by <strong><a href="https://davidalvarezp.com" target="_blank" rel="dofollow">davidalvarezp</a></strong>
             | Designed by <a href="https://jimmycai.com" target="_blank" rel="noopener">Jimmy</a>
        </p>
    </section>
</footer>
